<mat-card class="cards">
  <mat-card-title>Aportar</mat-card-title>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ticker</mat-label>
      <input
        matInput
        placeholder="Ex. TAEE4"
        disabled
        [(ngModel)]="acoes.symbol"
        name="symbol"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Preço</mat-label>
      <input
        matInput
        placeholder="Ex. 12.35"
        required
        [(ngModel)]="preco"
        name="preco"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        placeholder="100"
        required
        [(ngModel)]="qnt"
        name="qnt"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Data da compra</mat-label>
      <input
      type="date"
        matInput
        placeholder="01/11/2021"
        required
        [(ngModel)]="data"
        name="data"
      />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button class="alterar" (click)="Aportar()">Aportar</button>
    <button mat-raised-button class="cancelar" (click)="cancelar()">Cancelar</button>
  </div>
</mat-card>
