.container {
  height: 100%;
  color: white;
  background: rgb(44, 114, 186);
  background: linear-gradient(
    0deg,
    rgba(214, 0, 255, 1) 0%,
    rgba(111, 31, 208, 0.9724264705882353) 50%,
    rgba(44, 114, 186, 1) 100%
  );
}
.menu {
  background-color: #3f51b5;
  color: white;
  a{
    color: white;
  }

}
.sidenav {
  width: 20%;
  background-color: #3f51b5;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #3f51b5;
}

.header {
  background-color: #3f51b5;
}

@media screen and (max-width: 600px) {
  .sidenav {
    width: 50%;
  }
}
@media screen and (max-width: 2000px) {
  .sidenav {
    width: 15%;
  }
}

