<mat-card class="cards">
  <mat-card-title>Adicionar Compra</mat-card-title>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ticker</mat-label>
      <input
        type="text"
        id="ticker"
        matInput
        placeholder="Ex. TAEE4"
        required
        [(ngModel)]="acoes.symbol"
        name="symbol"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Preço</mat-label>
      <input
        id="price"
        matInput
        placeholder="Ex. 12.35"
        required
        [(ngModel)]="acoes.price"
        name="price"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input
      id="qnt"
      type="number"
        matInput
        placeholder="100"
        required
        [(ngModel)]="acoes.quantidade"
        name="quantidade"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Data da compra</mat-label>
      <input
      type="date"
        id="data"
        matInput
        placeholder="01/11/2021"
        required
        [(ngModel)]="acoes.date"
        name="date"
      />
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button class="adicionar" (click)="createTicker()">Adicionar</button>
    <button mat-raised-button class="cancelar" (click)="cancelar()">Cancelar</button>
  </div>
</mat-card>


