<div>
  <div class="search">
    <label>Buscar: </label>
    <mat-input-container>
      <input matInput type="text" placeholder="PETR4" [(ngModel)]="symbolName" />
      <button
        mat-button
        type="button"
        (click)="getPrices()"
      >
        Inserir
      </button>
    </mat-input-container>
  </div>
</div>
<div class="cards">
  <h2 class="title">Histórico de preços</h2>
  <h3 class="symbol" *ngIf="symbolName">{{symbolName}}</h3>
  <p *ngIf="name">{{name}}</p>
  <mat-card>
    <canvas id="piechart"> </canvas>
  </mat-card>
</div>
<div class="cards">
  <mat-card>
    <p *ngIf="descricao">{{descricao}}</p>
  </mat-card>
</div>
<div class="cards">
  <mat-card>
    <p *ngIf="altaSemana">Alta em 52 semanas {{ altaSemana }}</p>
    <p *ngIf="baixaSemana">Baixa em 52 semanas {{ baixaSemana }}</p>
  </mat-card>
</div>
