<div>
  <mat-card class="cards">
    <table mat-table [dataSource]="data" class="table">
      <ng-container matColumnDef="indicador">
        <th mat-header-cell *matHeaderCellDef>Indicador</th>
        <td mat-cell *matCellDef="let element">{{ element.index  | uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="previsao">
        <th mat-header-cell *matHeaderCellDef>Data da previsão</th>
        <td mat-cell *matCellDef="let element">{{ element.target_date }}</td>
      </ng-container>

      <ng-container matColumnDef="boletim">
        <th mat-header-cell *matHeaderCellDef>Data do boletim</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | datePipe}}
        </td>
      </ng-container>

      <ng-container matColumnDef="registro">
        <th mat-header-cell *matHeaderCellDef>Último valor registrado</th>
        <td mat-cell *matCellDef="let element">{{ element.last | number: "0.1":"pt-BR" | slice: 0:3 }}%</td>
      </ng-container>

      <ng-container matColumnDef="ultimo">
        <th mat-header-cell *matHeaderCellDef>Valor registrado no último mês</th>
        <td id="totalPago" mat-cell *matCellDef="let element">
          {{ element.last_month | number: "0.1":"pt-BR" | slice: 0:3 }}%
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
